﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - AirBlock</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-expand-md navbar-toggleable-sm navbar-toggleabe-md navbar-dark">
            <div class="container d-flex">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/AirB_Logo.png" alt="AirBlock Logo" class="img-fluid logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                </div>

            </div>

        </nav>

    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="footer text-muted border-top">
        <div class="container">
            <div class="d-flex justify-content-end align-items-center w-100">
                &copy; 2021 AirBlock. All rights reserved. @*-&nbsp;<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            </div>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>