﻿@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Contracts" asp-action="Store">Store</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Contracts" asp-action="Identify">Identify</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Act" asp-action="Act">Act</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Analyze" asp-action="Analyze">Analyze</a>
    </li>
    <li class="nav-item">
        @*<form class="form-inline" @*asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">*@
            <button type="submit" class="nav-link btn btn-link">Sign Out</button>
        @*</form>*@
    </li>

    @*@if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button  type="submit" class="nav-link btn btn-link text-dark">LOGOUT</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">SIGN IN</a>
            </li>
        }*@
</ul>