﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Provide sufficient contrast against white background 
 -------------------------------------------------- */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #41A89E;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #41A89E;
    padding: 8px 16px;
    min-width: 180px;
    text-align: center;
    font-weight: 600;
    border-radius: 4px;
}

/*---------------------------------------------------*/
header nav.navbar {
    background: black;
}

.nav .logo {
    height: 50px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-nav .nav-item {
    font-size: 16px; 
    /*font-weight: bold;*/
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

footer {
    padding: .5rem 1rem;
    font-size: 15px;
}

/* ----- COMMON STYLES -----*/
.container {
    padding-left: 0;
    padding-right: 0;
}

.border-black {
    border: 1px solid #000;
}

.m10 {
    margin: 10px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.px20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.page-ribbon {
    /*background-color: #c5c6c6;
    background-color: #49C2B7;*/
    background-color: #41A89E;
    color: #fff;
    height: 38px;
    font-weight: bold;
}

.bg-lightgrey {
    background: rgba(0,0,0,.03);
    padding: 30px 20px;
    min-height: 475px;
}

.empty {
    font-size: 18px;
    font-weight:bold;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/

/*Tree View CSS*/
/*@function remy($value) {
    @return ($value / 16px) * 1rem;
}

body {
    margin-top: 2rem;
    font: 100% "Open sans", "Trebuchet MS", sans-serif;
}

a {
    text-decoration: none;
}*/
/**
 * Hidden fallback
 */
/*[hidden] {
    display: none;
    visibility: hidden;
}*/
/**
 * Styling navigation
 */
/*header {
    margin-right: auto;
    margin-left: auto;
    max-width: remy(360px);
}*/
/**
 * Styling top level items
 */
/*.nav a,
.nav label {
    display: block;
    padding: .85rem;
    transition: all .25s ease-in;
}

.nav label {
    cursor: pointer;
}*/
/**
 * Styling first level lists items
 */
/*.group-list a,
.group-list label {
    padding-left: 2rem;
    box-shadow: inset 0 -1px lighten(#252525, 7%);
    &:focus,
}*/
/**
 * Styling second level list items
 */
/*.sub-group-list a,
.sub-group-list label {
    padding-left: 4rem;
    box-shadow: inset 0 -1px lighten(#353535, 7%);
    &:focus,
}*/
/**
 * Styling third level list items
 */
/*.sub-sub-group-list a,
.sub-sub-group-list label {
    padding-left: 6rem;
}*/
/**
 * Hide nested lists
 */
/*.group-list,
.sub-group-list,
.sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked + label + ul {*/
    /* reset the height when checkbox is checked */
    /*max-height: 1000px;
}*/
/**
 * Rotating chevron icon
 */
/*label > span {
    float: right;
    transition: transform .65s ease;
}

.nav__list input[type=checkbox]:checked + label > span {
    transform: rotate(90deg);
}*/


