﻿body {
    font-size: 16px;
}

#ContractList, #DocCarousel {
    width: 49%;
    height: 600px;
}

.card, .card-header {
    border: none;
    border-radius: 0;
    background: #fff;
}

.contract.card-header {
    padding: 12px 20px 0px 15px;
}

.master.card-header {
    padding: 5px 20px 0px 15px;
}

#docHierarchy .card-body {
    padding: 5px 20px 0px 48px;
}

.card-header a.panel-title:before {
    font-family: Fontawesome;
    content: '\f078';
    font-size: 16px;
    position: relative;
    left: -13px;
    top: 0px;
    float: left;
}

.card-header a.panel-title.collapsed:before {
    font-family: Fontawesome;
    content: '\f054 ';
    font-size: 16px;
    position: relative;
    left: -13px;
    top: 0px;
    float: left;
}