﻿@model StoreViewModel

@{
    ViewData["Title"] = "Store";
    int i = 0;
}

<link rel="stylesheet" href="~/css/Store.css" />
@if (Model.Contracts != null)
{
    <div class="page-ribbon d-flex align-items-center">
        <div class="container d-flex">
            <span>Store</span>
        </div>

    </div>

    <div class="container bg-lightgrey">

        <div class="d-flex justify-content-center pb-3">
            <a role="button" class="btn-primary darkBtn" asp-action="Index">UPLOAD</a>
        </div>

        <div class="d-inline-flex bg-white justify-content-around flex-sm-column flex-md-row flex-lg-row flex-fill flex-wrap storeDiv w-100">

            <div id="ContractList" class="d-flex flex-column px20">
                <div class="accordion">
                    <div class="card-wrap">

                        @foreach (var contract in Model.Contracts)
                        {
                            <div class="card d-flex flex-column w-100 accordion-data">
                                <div class="card-header d-flex flex-column w-100 accordion-data contract" id="contract-@i">
                                    <a role="button" class="panel-title @(i == 0 ? "" : "collapsed")" data-toggle="collapse"
                                       data-target="#docs-@i" aria-expanded="@(i == 0 ? "true" : "false")"
                                       aria-controls="#docs-@i">
                                        <span class="contract-name"><b>@contract.Name</b></span>

                                    </a>
                                </div>

                                <div id="docs-@i" class="collapse @(i == 0 ? "show" : "")" aria-labelledby="#contract-@i">
                                    <div class="card-body py-0">
                                        <div class="d-flex flex-sm-column flex-md-row flex-lg-row flex-fill align-items-center flex-wrap contract-text">

                                            @foreach (var doc in contract.ContractDocuments)
                                            {
                                                <div class="d-flex flex-column" id="docHierarchy">
                                                    <div class="accordion w-100">
                                                        @*<div class="card-wrap">*@

                                                        <div class="card-header d-flex flex-column w-100 accordion-data master" id="master-@i">
                                                            <a role="button" class="panel-title @(i == 0 ? "" : "collapsed")" data-toggle="collapse"
                                                               data-target="#rev-@i" aria-expanded="@(i == 0 ? "true" : "false")"
                                                               aria-controls="#master-@i">
                                                                <span class="doc-name"><b>@doc.Name</b></span>

                                                            </a>
                                                        </div>
                                                        <div id="rev-@i" class="collapse @(i == 0 ? "show" : "")" aria-labelledby="#master-@i">
                                                            <div class="card-body">
                                                                @foreach (var rev in doc.ContractScratchDocuments)
                                                                {
                                                                    <div class="d-flex flex-sm-column flex-md-row flex-lg-row flex-fill align-items-center flex-wrap rev-text">
                                                                        @rev.Name
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>

                                                        @*</div>*@

                                                    </div>

                                                </div>
                                            }

                                        </div>
                                    </div>

                                </div>
                            </div>
                            i = i + 1;
                        }

                    </div>
                </div>
            </div>

            <div id="DocCarousel" class="d-flex justify-content-center align-items-center px20 m10 border-black">

                This is the div where the preview of document images will be seen in a carousel.
                <br />On click, the document will open in a new tab.

            </div>
        </div>

    </div>
}
else
{
    <div class="d-flex align-items-center justify-content-center empty">No contracts uploaded yet.</div>
}

@*@foreach (var contract in Model.Contracts)
    {
        <nav class="nav" role="navigation">
            <ul class="nav__list">
                <li>
                    <input id="group-@contract.Id" type="checkbox" hidden />
                    <label for="group-@contract.Id"><span class="fa fa-angle-right"></span>@contract.Name</label>
                    <ul class="group-list">
                        <li>

                            @foreach (var document in contract.ContractDocuments)
                            {
                                <input id="sub-group-@document.Id" type="checkbox" hidden />
                                <label for="sub-group-@document.Id"><span class="fa fa-angle-right"></span>@document.Name</label>
                                <ul class="sub-group-list">
                                    @foreach (var scratchDocument in document.ContractScratchDocuments)
                                    {
                                        <li><a href="#">@scratchDocument.Name</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    }*@