﻿@using (Html.BeginForm("UploadFile", "Contracts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <!-- SEER APP TITLES GOES HERE -->
    <div>
        <h1>Upload Blob File</h1>
    </div>
    <!-- SEER APP TITLES GOES HERE ENDS -->
    <div>

        <h3><span class="fa fa-file-code-o "></span> Blob file</h3>
        <div class="InputGroup">
            <input type="file" name="file" />
            <input type="submit" name="Submit" value="Submit" />
            <!--test-->
        </div>
    </div>
}
